---
import Hero from "@/components/widgets/Hero.astro";
import Layout from "../layouts/Layout.astro";
import TextView from "@/components/widgets/TextView.tsx";
import Marquee from "@/components/widgets/Marquee.tsx";
import Historical from "@/components/widgets/Historical.tsx";
import { MarketOverview } from "react-ts-tradingview-widgets";
// import Embed from '@/components/widgets/Embed';
---

<Layout title="Dashboard">
    <div class="">
        <div class="flex flex-col w-1/2 pl-36">
            <div class="flex justify-between gap-5">
                <TextView title="NSE" value="7800" />
                <TextView title="BSE" value="7670" />
                <TextView title="Something else" value="9877" />
            </div>
            <div class="py-5">
                <Marquee client:load />
            </div>
            
        </div>
        <!-- <MarketOverview colorTheme="dark" height={400} width="100%" showFloatingTooltip>

        </MarketOverview> -->
    </div>
</Layout>
