---
import "@/styles/globals.css";
import Header from "@/components/widgets/Header.astro";
import Footer from "@/components/widgets/Footer.astro";
import MouseGlow from '@/components/common/MouseGlow';
interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <div class="min-h-screen flex flex-col">
      <Header />
      <MouseGlow client:load/>
      <main class="flex-1">
        <slot />
      </main>
      <Footer />
    </div>
    <script
      src="https://unpkg.com/@dotlottie/player-component@latest/dist/dotlottie-player.mjs"
      type="module"></script>
  </body>
</html>
